body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #232f3e, #37475a);
}

/* Center container */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.auth-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
  color: #131921;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-card input:focus {
  outline: none;
  border-color: #ff9900;
}

/* Button */
.auth-btn {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #ff9900;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.auth-btn:hover {
  background-color: #e68a00;
}

/* Switch link */
.switch-text {
  margin-top: 15px;
  font-size: 14px;
}

.switch-text span {
  color: #ff9900;
  cursor: pointer;
  font-weight: bold;
}
