body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

/* HEADER */
.top-navbar {
  background-color: #131921;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: white;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ff9900;
  cursor: pointer;
}

.search-bar {
  display: flex;
  flex: 1;
  margin: 0 20px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: none;
}

.search-bar button {
  background: #febd69;
  border: none;
  padding: 0 15px;
  cursor: pointer;
}

.nav-item {
  margin-left: 20px;
  cursor: pointer;
}

/* HERO CAROUSEL */
.hero-carousel {
  margin: 20px;
}

.hero-slide {
  position: relative;
}

.hero-slide img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.hero-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

/* CATEGORY SECTION */
.category-section {
  padding: 30px;
  background: white;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.category-card {
  background: #fafafa;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

/* PRODUCTS */
.product-section {
  padding: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #B12704;
}

.product-card button {
  background-color: #ffd814;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.product-card button:hover {
  background-color: #f7ca00;
}

/* FOOTER */
.footer {
  background-color: #131921;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
.white-text {
  color: white;
}